#red{
    COLOR: RED;

}
#blue{
    COLOR: BLUE;
    
}
#orange{
    COLOR: ORANGE;
}
#green{
    color:green;
}
#yellow{
    color:yellow;
}
.color-title{
    font-weight: normal;
}
img{
    width:200px;
    height:200px;
}